/* ======== Estilos Globais ======== */
body {
    
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ======== Estilos para Lista de Usuários ======== */
.usuario-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
}
/* ======== Estilos para Lista de Cursos ======== */
.curso-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
}